{% extends '::base.html.twig' %}

{% block body %}

<h1>{% block title %}Título{% endblock %}</h1>


{% block content %}
{% endblock %}

<h2>{% block footer %}Footer{% endblock %}</h2>

{% endblock %}
